git-remove-history
#################
##GENERAL
#################
.gitignore
.htaccess
.DS_Store
.svn
.cvs
sitemap.xml
sitemap.xml.gz
.htaccess

tmp/*
index.php
*.bak
*.tmp
*.swp
*.log
*.txt

*.zip
*.rar
*.7z

##Images
*.jpg
*.gif
*.png
*.bmp

##FONTS
*.woff
*.ttf
*.svg
*.eot

sitemap.xml
sitemap.xml.gz

*.Cache

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

################
##Wordpress site
################
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/cache/supercache/*
wp-content/backups/

################
##Wordpress Plugins with Repos
################
wp-content/plugins/*
!wp-content/plugins/akismet/

wp-content/plugins/better-wp-security/
wp-content/plugins/buddypress/
wp-content/plugins/contact-form-7/
wp-content/plugins/geo-mashup/
wp-content/plugins/login-security-solution/
wp-content/plugins/wp-maintenance-mode/
wp-content/plugins/ultimate-cms/



###############

# User-specific files
*.suo
*.user
*.sln.docstates

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

